body,
html {
  font-family: "Raleway", sans-serif;
  background: #FFF;
  color: #484848;
  height: 100%;
  position: relative;
}

/*==========================NOVO=============================*/

/*RESET*/

:focus {
  outline: none;
}

::-moz-selection {
  background: #ff5140;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #ff5140;
  color: #FFF;
  text-shadow: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #484848;
  /*text-shadow: 1px 1px 1px #080707;*/
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #484848;
  /*text-shadow: 1px 1px 1px #080707;*/
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #484848;
  /*text-shadow: 1px 1px 1px #080707;*/
}

input::placeholder,
textarea::placeholder {
  color: #484848;
  /*text-shadow: 1px 1px 1px #080707;*/
}

.uppercase {
  text-transform: uppercase;
}

blockquote {
  border-left: 1px solid #484848;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(247, 247, 247, 0.12);
}

address {
  font-style: normal;
  margin-bottom: 1rem;
}

address p {
  margin-bottom: 0.5rem;
}

address i {
  color: #FF0;
}

a {
  color: #000;
}

a:hover,
a:focus {
  color: #484848;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  border-color: #eeeeee;
  background-color: #FFF;
  color: #828282;
  text-shadow: 1px 1px 1px #e1e1e1;
}

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
  border-color: transparent;
  background-color: #FFF;
  -webkit-box-shadow: inset 2px 2px 8px #d9d9d9;
  box-shadow: inset 2px 2px 8px #d9d9d9;
}

.select2-container--default .select2-selection--single {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0px;
  background-color: #fefefe;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  color: #0a0a0a;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: #eeeeee;
  background-color: #FFF;
  color: #828282;
  text-shadow: 1px 1px 1px #e1e1e1;
}

.select2-selection__rendered {
  line-height: 22px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 8px;
}

/*TITLE*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  color: #000;
}

.titulo {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #000;
}

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: auto;
  touch-action: auto;
}

.pre-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #000;
  text-align: center;
}

.pre-loader .spinner {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.pre-loader .spinner .ball {
  width: 20px;
  height: 20px;
  background-color: #484848;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.pre-loader p {
  color: #FFF;
  margin-top: 5px;
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
}

@-webkit-keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }

  25% {
    -webkit-transform: translateX(-50px) scale(0.3);
    transform: translateX(-50px) scale(0.3);
  }

  50% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }

  75% {
    -webkit-transform: translateX(50px) scale(0.3);
    transform: translateX(50px) scale(0.3);
  }

  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}

@keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }

  25% {
    -webkit-transform: translateX(-50px) scale(0.3);
    transform: translateX(-50px) scale(0.3);
  }

  50% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }

  75% {
    -webkit-transform: translateX(50px) scale(0.3);
    transform: translateX(50px) scale(0.3);
  }

  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}

/* Large and up */

.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  text-transform: uppercase;
  background: #000;
  color: #FFF;
  font-weight: 400;
  border-radius: 0;
}

.button:hover,
.button:focus,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus {
  background: #484848;
}

.social-media-container {
  position: relative;
  width: 100%;
}

.social-media-container .social-media {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background: #000;
  padding: 0.7rem;
}

.social-media-container .social-media:after {
  content: "";
  position: absolute;
  background: #000;
  height: 100%;
  width: 1000em;
  top: 0;
  left: 100%;
  display: block;
}

.social-media-container .social-media a {
  color: #FFF;
  font-size: 2rem;
}

.social-media-footer a:first-child {
  margin-left: -1rem;
}

.header {
  background: #FFF;
}

.header .logo-bg {
  background: #000;
  position: relative;
  padding: 0.9rem;
}

.header .logo-bg:after {
  content: "";
  position: absolute;
  background: #000;
  height: 100%;
  width: 1000em;
  top: 0;
  right: 100%;
  display: block;
}

.header #minicart {
  position: relative;
}

.header #minicart .cart-head {
  position: relative;
  padding: 0.7rem 0.5rem;
  font-size: 1.5rem;
  margin-top: -9px;
  cursor: pointer;
  line-height: 1;
  font-weight: 600;
}

.header #minicart .cart-head .item-count {
  position: absolute;
  top: 0;
  right: -8px;
  background: #ff5140;
  color: #FFF;
  border: 1px solid #000;
  padding: 5px 7px;
  border-radius: 50%;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header #minicart .cart-popup {
  position: absolute;
  width: 300px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  z-index: 1003;
  top: 100%;
  right: 0;
  padding: 0;
  background: #FFF;
  border: none;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  text-align: left;
  display: none;
}

.header #minicart .cart-popup .woocommerce-mini-cart__empty-message {
  margin-bottom: 0;
}

.header #minicart .cart-popup .woocommerce-mini-cart {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;
}

.header #minicart .cart-popup .woocommerce-mini-cart li {
  float: left;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  padding: 0.5rem 0;
}

.header #minicart .cart-popup .woocommerce-mini-cart li .quantity .amount {
  color: #000;
}

.header #minicart .cart-popup .woocommerce-mini-cart li .remove_from_cart_button {
  position: absolute;
  top: 2px;
  right: 0;
  background: #000;
  color: #FFF;
  padding: 2px 6px 1px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1rem;
}

.header #minicart .cart-popup .woocommerce-mini-cart li a {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0;
}

.header #minicart .cart-popup .woocommerce-mini-cart li img {
  width: 75px;
  float: right;
}

.header #minicart .cart-popup .widget_shopping_cart_content {
  padding: 0.9rem;
  font-family: "Titillium Web", sans-serif;
}

.header #minicart .cart-popup .widget_shopping_cart_content .woocommerce-mini-cart__total .amount {
  text-align: right;
  float: right;
}

.header #minicart .cart-popup .total {
  margin: 0;
  padding: 0.5rem;
  clear: both;
}

.header #minicart .cart-popup .total .amount {
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
}

.header #minicart .cart-popup .buttons {
  margin: 0;
}

.header #minicart .cart-popup .buttons .button {
  margin-bottom: 0.5rem;
}

.header #minicart .cart-popup .buttons .button:focus,
.header #minicart .cart-popup .buttons .button:hover {
  background: #484848;
  color: #FFF;
}

.woocommerce-products-header {
  display: none;
}

/* Medium and up */

.nav-container {
  font-size: 0.9rem;
}

.nav-container .main-menu {
  padding-left: 0.5rem;
}

.nav-container .main-menu li.is-dropdown-submenu-parent > a::after {
  border-color: #000 transparent transparent;
}

.nav-container .main-menu .is-active > a {
  background: transparent;
  color: #000;
  border-bottom: 2px solid #ff5140;
}

.nav-container .main-menu .is-dropdown-submenu {
  background: #000;
  z-index: 10;
  border: none;
}

.nav-container .main-menu .is-dropdown-submenu li a {
  color: #FFF;
  font-size: 0.7rem;
  border-bottom: 1px solid #262626;
}

.nav-container .main-menu a,
.nav-container .acc-menu a {
  border-bottom: 2px solid transparent;
  margin-bottom: 0;
  padding: 0.7rem 0.5rem;
  font-weight: 600;
}

.nav-container .main-menu a:hover,
.nav-container .main-menu a:focus,
.nav-container .acc-menu a:hover,
.nav-container .acc-menu a:focus {
  background: none;
  color: #484848;
  border-bottom: 2px solid #ff5140;
}

.nav-container .main-menu .active a,
.nav-container .acc-menu .active a {
  background: none;
  color: #484848;
  border-bottom: 2px solid #ff5140;
}

.nav-container .acc-menu li:last-child a,
.nav-container .acc-menu li:first-child a {
  padding-bottom: 0.6rem;
}

.nav-container .acc-menu li:last-child a:hover,
.nav-container .acc-menu li:last-child a:focus,
.nav-container .acc-menu li:first-child a:hover,
.nav-container .acc-menu li:first-child a:focus {
  background: none;
  color: #484848;
  border-bottom: 2px solid transparent;
}

.off-canvas {
  background: #000;
}

.off-canvas-menu {
  background: #000;
  margin: 3px 0 0;
}

.off-canvas-menu li a {
  color: #FFF;
  border-bottom: 1px solid #262626;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.off-canvas-menu li.is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
  border-color: #ff5140 transparent transparent;
}

.off-canvas-menu li.active a {
  background: #1a1a1a;
}

.off-canvas-menu li .children li a {
  background: #1a1a1a;
  border-bottom: 1px solid #000;
  font-size: 0.7rem;
  font-weight: 600;
}

.footer-menu a {
  padding-left: 0;
  padding-right: 0;
}

.footer-menu .active a {
  background: none;
  color: #000;
}

.pagamentos-menu .payment {
  margin-right: 0.3rem;
}

.align-menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-icon {
  margin-left: 40px;
  margin-top: 10px;
}

.menu-icon::after {
  background: #000;
  -webkit-box-shadow: 0 7px 0 #000, 0 14px 0 #000;
  box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}

.menu-icon:hover::after {
  background: #000;
  -webkit-box-shadow: 0 7px 0 #000, 0 14px 0 #000;
  box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}

/* Medium and up */

.breadcrumbs a {
  color: #ff5140;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #000;
}

.banner-wrapper {
  position: relative;
  overflow-x: hidden;
}

.banner-wrapper .owl-home-slides .owl-dots {
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 1.2rem;
}

.banner-wrapper .owl-home-slides .owl-dots span {
  width: 16px;
  height: 16px;
  border: 2px solid #FFF;
  background: #FFF;
}

.banner-wrapper .owl-home-slides .owl-dots .active span {
  background: #000;
}

.banner-wrapper .banner-interno {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 400px;
  height: 50vh;
}

.section-wrapper {
  padding: 2rem 0 3rem;
}

.section-wrapper-small {
  padding: 2rem 0;
}

#breadcrumbs {
  padding: 1rem 0;
  background: black;
  color: #FFF;
}

#breadcrumbs .breadcrumbs {
  margin-bottom: 0;
}

#breadcrumbs .breadcrumbs li {
  color: #FFF;
  font-weight: 600;
}

#breadcrumbs .breadcrumbs li a {
  font-weight: 400;
}

#breadcrumbs .breadcrumbs li a:hover {
  color: #ff5140;
}

.justify-content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-wrapper-login {
  padding: 0;
}

.section-wrapper-login .login-wrapper {
  padding: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-wrapper-login .login-wrapper .grid-login {
  background: rgba(255, 81, 64, 0.8);
  padding: 3rem 1rem;
}

.section-wrapper-login .login-wrapper .grid-login a,
.section-wrapper-login .login-wrapper .grid-login span {
  color: #FFF;
}

.section-wrapper-login .login-wrapper .grid-login .cell {
  padding: 1rem 6rem;
}

.section-wrapper-login .login-wrapper .grid-login .cell:first-child {
  border-right: 1px solid #FFF;
}

.section-wrapper-login .login-wrapper .grid-login h2 {
  color: #FFF;
  text-transform: uppercase;
}

.woocommerce-message {
  border: 1px solid #f1f1f1;
  color: #484848;
  font-weight: 400;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background: #f7f7f7;
}

.woocommerce-message .button {
  margin: 0.3rem 0;
}

.page-template-template-faq ul.accordion .accordion-title {
  background: #000;
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.destaque-bg {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 2px solid #FFF;
}

.destaque-bg .destaque-wall {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.destaque-bg:hover .destaque-wall {
  background: rgba(255, 255, 255, 0.25);
}

.destaque-bg .titulo-destaque {
  background: rgba(0, 0, 0, 0.9);
  color: #FFF;
  display: block;
  width: 100%;
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  position: absolute;
  top: 0;
}

.destaque-bg .titulo-destaque h2 {
  color: #FFF;
  margin: 0;
}

.destaque-full {
  height: 50vh;
}

.destaque-full .titulo-destaque {
  right: 0;
  text-align: right;
}

.destaque-half {
  height: 50vh;
}

.destaque-half .titulo-destaque {
  left: 0;
}

/* Medium and up */

.owl-produtos-destaques .owl-nav {
  position: absolute;
  width: 100%;
  top: 33%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.owl-produtos-destaques .owl-nav button[class*='owl-'] {
  background: #FFF !important;
  border-radius: 0 !important;
  padding: 0.2rem 0.5rem !important;
}

.owl-produtos-destaques .owl-nav button[class*='owl-']:hover,
.owl-produtos-destaques .owl-nav button[class*='owl-']:focus {
  color: #000;
}

.owl-produtos-destaques .owl-nav .owl-prev {
  left: 0;
}

.lista-produtos,
.owl-produtos-destaques {
  /* Medium and up */
  /* Large and up */
}

.lista-produtos .products,
.owl-produtos-destaques .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* or inline-flex */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.lista-produtos .columns-1 .product,
.lista-produtos .columns-2 .product,
.lista-produtos .columns-3 .product,
.lista-produtos .columns-4 .product,
.owl-produtos-destaques .columns-1 .product,
.owl-produtos-destaques .columns-2 .product,
.owl-produtos-destaques .columns-3 .product,
.owl-produtos-destaques .columns-4 .product {
  width: 100%;
}

.lista-produtos .columns-5 .product,
.owl-produtos-destaques .columns-5 .product {
  width: 50%;
}

.lista-produtos .product,
.owl-produtos-destaques .product {
  position: relative;
  overflow: hidden;
  border: 1px solid #FFF;
  list-style: none;
}

.lista-produtos .product .descricao-produto,
.owl-produtos-destaques .product .descricao-produto {
  padding: 0.7rem;
}

.lista-produtos .product .descricao-produto h2,
.owl-produtos-destaques .product .descricao-produto h2 {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.lista-produtos .product .descricao-produto .price,
.owl-produtos-destaques .product .descricao-produto .price {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  color: #000;
}

.lista-produtos .product .descricao-produto .price del,
.owl-produtos-destaques .product .descricao-produto .price del {
  color: #484848;
  font-size: 0.9rem;
  font-weight: 400;
}

.lista-produtos .product .descricao-produto .price ins,
.owl-produtos-destaques .product .descricao-produto .price ins {
  text-decoration: none;
}

.lista-produtos .product .add-cart-wrapper,
.owl-produtos-destaques .product .add-cart-wrapper {
  position: relative;
}

.lista-produtos .product .add-cart-wrapper .add-cart,
.owl-produtos-destaques .product .add-cart-wrapper .add-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.65);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  z-index: 2;
}

.lista-produtos .product .woocommerce-loop-product__link,
.owl-produtos-destaques .product .woocommerce-loop-product__link {
  display: block;
}

.lista-produtos .product img,
.owl-produtos-destaques .product img {
  width: 100%;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.lista-produtos .product:hover img,
.owl-produtos-destaques .product:hover img {
  -webkit-filter: brightness(102%);
  filter: brightness(102%);
}

.lista-produtos .product:hover .add-cart,
.owl-produtos-destaques .product:hover .add-cart {
  opacity: 1;
}

.lista-produtos .filter-box,
.owl-produtos-destaques .filter-box {
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;
}

span.onsale {
  position: absolute;
  background: #000;
  color: #FFF;
  -webkit-transform: rotate(43deg);
  transform: rotate(43deg);
  right: -30px;
  top: 30px;
  width: 150px;
  text-align: center;
  z-index: 1;
}

.single-product .product {
  position: relative;
  overflow: hidden;
}

.single-product .product .images {
  position: relative;
}

.single-product .product .images .flex-viewport {
  width: calc(100% - 90px);
  float: right;
  margin-left: 10px;
  border: 1px solid #d9d9d9;
}

.single-product .product .images .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.single-product .product .images img {
  width: 100%;
}

.single-product .product .flex-control-thumbs {
  width: 80px;
  float: left;
  list-style: none;
  margin: 0;
}

.single-product .product .flex-control-thumbs li {
  margin-bottom: 10px;
  border: 1px solid #d9d9d9;
}

.single-product .summary {
  position: relative;
  overflow: hidden;
}

.single-product .summary h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.single-product .summary p.price {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}

.single-product .summary p.price del {
  color: #484848;
  font-size: 1.6rem;
  font-weight: 400;
}

.single-product .summary p.price ins {
  text-decoration: none;
  color: #000;
}

.single-product .summary .stock {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  color: #ff5140;
}

.single-product .summary .product_meta {
  color: #000;
  clear: both;
}

.single-product .summary .product_meta span {
  display: inline-block;
}

.single-product .summary .product_meta .posted_in {
  display: block;
}

table.variations tbody,
table.variations thead,
table.variations tfoot {
  border: none;
  background: none;
}

table.variations tbody tr:nth-child(even),
table.variations thead tr:nth-child(even),
table.variations tfoot tr:nth-child(even) {
  background: none;
}

table.variations tbody th,
table.variations tbody td,
table.variations thead th,
table.variations thead td,
table.variations tfoot th,
table.variations tfoot td {
  padding: 0 0.5rem;
}

table.variations .label {
  background: none;
  text-transform: uppercase;
  width: 100%;
}

table.variations .label label {
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #484848;
  font-family: "Titillium Web", sans-serif;
}

table.variations .value {
  width: 100%;
}

table.variations .tawcvs-swatches .swatch {
  border-radius: 0;
  margin-right: 5px;
}

table.variations .tawcvs-swatches .swatch-label {
  border: 1px solid #aeaeae;
  color: #484848;
}

#produto-features-view {
  background: #f7f7f7;
}

#produto-features-view .destaque-bg {
  border: none;
  height: 75vh;
}

#produto-features-view .destaque-bg.arrow-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#produto-features-view .destaque-bg.arrow-right .arrow {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 100px solid #f7f7f7;
  border-right: 100px solid transparent;
  margin-right: -4.5rem;
}

#produto-features-view .destaque-bg.arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#produto-features-view .destaque-bg.arrow-left .arrow {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 100px solid #f7f7f7;
  border-left: 100px solid transparent;
  margin-left: -5rem;
}

#produto-features-view .destaque-bg .arrow {
  width: 0;
  height: 0;
}

#produto-features-view .product-feature {
  padding: 3rem 1rem;
  position: relative;
  color: #000;
  width: 80%;
}

#produto-features-view .product-feature h3,
#produto-features-view .product-feature h5 {
  color: #000;
  text-transform: uppercase;
}

#produto-features-view .product-feature p {
  color: #000;
}

#produto-features-view .product-feature ul {
  list-style-type: square;
  list-style-position: inside;
  margin: 1rem 0;
}

.quantity {
  width: 126px;
  height: 40px;
  margin: 0 2px 0 0;
  display: inline-block;
  float: left;
}

.quantity .step-btn.minus,
.quantity .step-btn.plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
  background: #FFF;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #d9d9d9;
  color: #484848;
  cursor: pointer;
  float: left;
}

.quantity input[type='number'] {
  -moz-appearance: textfield;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.quantity .qty-button {
  display: block;
  background: none;
  background: #FFF;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 100%;
  font-size: 2rem;
  line-height: 40px;
  border: 1px solid #d9d9d9;
  color: #000;
  cursor: pointer;
  float: left;
}

.quantity .qty-button.minus {
  line-height: 38px;
}

.quantity .qty-button.plus {
  line-height: 42px;
}

.quantity .qty {
  width: 46px;
  height: 100%;
  line-height: 55px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  font-size: 1rem;
  display: block;
  margin-bottom: 0;
  float: left;
  color: #000;
}

.woocommerce-cart-form .shop_table {
  font-family: "Titillium Web", sans-serif;
}

.woocommerce-cart-form .cart .product-thumbnail a {
  display: block;
}

.woocommerce-cart-form .cart .product-thumbnail a .size-woocommerce_thumbnail {
  width: 80px;
}

.checkout-container {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.form-row-first,
.form-row-last {
  width: 50%;
  padding: 0 0.5rem 0;
  margin-bottom: 0;
  float: left;
}

.form-row-wide {
  width: 100%;
  padding: 0 0.5rem 0;
  margin-bottom: 0;
}

.pagination {
  padding: 3rem 0 1rem;
}

.pagination .current {
  background: #000;
}

.sidebar h3 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
}

.sidebar li a {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.price_slider_wrapper .ui-slider {
  position: relative;
  text-align: left;
  margin: 1rem 0;
}

.price_slider_wrapper .ui-slider-horizontal {
  height: 3px;
}

.price_slider_wrapper .ui-widget-content {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: rgba(0, 0, 0, 0.7);
}

.price_slider_wrapper .ui-widget-content .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #000;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.price_slider_wrapper .ui-widget-content .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  cursor: ew-resize;
  outline: 0;
  background: #2c2d33;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -.35em;
  opacity: 1;
}

.price_slider_wrapper .ui-widget-content .ui-slider-handle:last-child {
  margin-left: -10px;
}

.price_slider_wrapper .price_slider_amount {
  float: left;
  width: 100%;
}

.price_slider_wrapper .price_slider_amount .button {
  float: left;
  font-size: 0.75rem;
}

.price_slider_wrapper .price_label {
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: right;
}

.yith-wcan-label {
  list-style-type: none;
  margin: 1rem 0 1rem;
}

.yith-wcan-label li a {
  padding: 0.5rem 1rem;
  background: #efefef;
  margin-right: 0.2rem;
}

.yith-wcan-color {
  list-style-type: none;
  margin: 0 0;
}

.yith-wcan-color li {
  display: block;
  float: none;
  margin: 0;
  clear: both;
  height: auto;
  margin: 0.5rem 0;
}

.yith-wcan-color li a {
  padding: 0.5rem 1rem;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: 25px;
  line-height: 0.7rem;
}

#contato-home {
  position: relative;
  background: #000;
}

#contato-home .contato-box {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 400px;
  height: 50vh;
}

#contato-home .contato-info-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 0;
}

#contato-home .info-contato {
  background: #000;
  display: block;
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-top: 2px solid #FFF;
  width: 100%;
}

#contato-home .info-contato h2 {
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 0;
}

#contato-home .info-contato .info-contato-tel {
  font-family: "Titillium Web", sans-serif;
  color: #FFF;
  font-size: 1.4rem;
  line-height: 3.5rem;
  display: inline-block;
  float: right;
}

#contato-home .info-contato .social-media {
  float: right;
}

#contato-home .info-contato .social-media a {
  color: #FFF;
  font-size: 2rem;
}

#contato-home .contact-form [type='text'],
#contato-home .contact-form [type='password'],
#contato-home .contact-form [type='date'],
#contato-home .contact-form [type='datetime'],
#contato-home .contact-form [type='datetime-local'],
#contato-home .contact-form [type='month'],
#contato-home .contact-form [type='week'],
#contato-home .contact-form [type='email'],
#contato-home .contact-form [type='number'],
#contato-home .contact-form [type='search'],
#contato-home .contact-form [type='tel'],
#contato-home .contact-form [type='time'],
#contato-home .contact-form [type='url'],
#contato-home .contact-form [type='color'] {
  background: #000;
  border: 1px solid #FFF;
  border-top: 1px solid #000;
  text-shadow: none;
  color: #FFF;
  margin: 1rem 0;
}

#contato-home .contact-form textarea {
  background: #000;
  border: 1px solid #FFF;
  border-top: 1px solid #000;
  text-shadow: none;
  color: #FFF;
  margin: 1rem 0;
  min-height: 150px;
  height: 150px;
}

#contato-home .contact-form [type='text']:focus,
#contato-home .contact-form [type='password']:focus,
#contato-home .contact-form [type='date']:focus,
#contato-home .contact-form [type='datetime']:focus,
#contato-home .contact-form [type='datetime-local']:focus,
#contato-home .contact-form [type='month']:focus,
#contato-home .contact-form [type='week']:focus,
#contato-home .contact-form [type='email']:focus,
#contato-home .contact-form [type='number']:focus,
#contato-home .contact-form [type='search']:focus,
#contato-home .contact-form [type='tel']:focus,
#contato-home .contact-form [type='time']:focus,
#contato-home .contact-form [type='url']:focus,
#contato-home .contact-form [type='color']:focus,
#contato-home .contact-form textarea:focus {
  border-color: transparent;
  background-color: #151515;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer {
  background: #f7f7f7;
}

.footer h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.footer .footer-menu li a {
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.footer .social-media-footer li a {
  font-size: 1.6rem;
}

.footer .button-newsletter {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.wpcf7 .input-group-button {
  position: relative;
}

.wpcf7 .input-group-button .ajax-loader {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.search-button {
  border-bottom: 2px solid transparent;
  margin-bottom: 0;
  padding: 0.7rem 0.5rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.96);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
  -webkit-transition: opacity .3s, visibility .3s, -webkit-transform .3s;
  transition: opacity .3s, visibility .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s, visibility .3s;
  transition: opacity .3s, transform .3s, visibility .3s, -webkit-transform .3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search-overlay__top {
  background-color: rgba(255, 255, 255, 0.12);
  margin-top: 37px;
  width: 100%;
}

.search-overlay__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #484848;
}

.search-overlay__icon {
  margin-right: 10px;
  font-size: 1.8rem;
  color: #ff5140;
}

.search-overlay--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.search-overlay__section-title {
  margin: 30px 0 1px 0;
  font-weight: 400;
  color: #484848;
  font-size: 2rem;
  padding: 15px 0;
  border-bottom: 1px solid #CCC;
}

.search-overlay__close {
  top: 13px;
  right: 16px;
  font-size: 2.1rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #FFF;
  color: #ff5140;
  line-height: .7;
  margin-left: 10px;
}

.search-overlay__close:hover {
  opacity: 1;
}

.search-overlay .one-half {
  padding-bottom: 0;
}

.search-term {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 300;
  outline: none;
  color: #ff5140;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
}

.search-term:focus {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  border: none;
}

.body-no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 40em) {
  .woocommerce-products-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  .woocommerce-products-header h1 {
    color: #FFF;
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }

  .align-menu {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .destaque-bg .titulo-destaque {
    min-width: 25rem;
    width: 25rem;
  }

  .destaque-full {
    height: 100vh;
  }

  .lista-produtos .columns-1 .product,
  .owl-produtos-destaques .columns-1 .product {
    width: 100%;
  }

  .lista-produtos .columns-2 .product,
  .owl-produtos-destaques .columns-2 .product {
    width: 50%;
  }

  .lista-produtos .columns-3 .product,
  .owl-produtos-destaques .columns-3 .product {
    width: 50%;
  }

  .lista-produtos .columns-4 .product,
  .owl-produtos-destaques .columns-4 .product {
    width: 33.3334%;
  }

  .lista-produtos .columns-5 .product,
  .owl-produtos-destaques .columns-5 .product {
    width: 33.3334%;
  }
}

@media screen and (min-width: 64em) {
  .lista-produtos .large-fixed-size {
    width: 250px;
  }

  .lista-produtos .columns-1 .product,
  .owl-produtos-destaques .columns-1 .product {
    width: 100%;
  }

  .lista-produtos .columns-2 .product,
  .owl-produtos-destaques .columns-2 .product {
    width: 50%;
  }

  .lista-produtos .columns-3 .product,
  .owl-produtos-destaques .columns-3 .product {
    width: 33.3334%;
  }

  .lista-produtos .columns-4 .product,
  .owl-produtos-destaques .columns-4 .product {
    width: 25%;
  }

  .lista-produtos .columns-5 .product,
  .owl-produtos-destaques .columns-5 .product {
    width: 20%;
  }
}
/*# sourceMappingURL=app.css.map */
