.social-media-container{
  position: relative;
  width: 100%;
  .social-media{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: $preto;
    padding: 0.7rem;
    &:after{
      content: "";
      position: absolute;
      background: $preto;
      height: 100%;
      width: 1000em;
      top: 0;
      left: 100%;
      display: block;
    }
    a{
      color: $branco;
      font-size: 2rem;
    }
  }
}

.social-media-footer{
  a{
    &:first-child{
      margin-left: -1rem;
    }
  }
}