.header{
  background: $branco;
  .logo-bg{
    background: $preto;
    position: relative;
    padding: 0.9rem;
    &:after{
      content: "";
      position: absolute;
      background: $preto;
      height: 100%;
      width: 1000em;
      top: 0;
      right: 100%;
      display: block;
    }
  }
}
