.banner-wrapper{
  position: relative;
  .owl-home-slides{
    .owl-dots{
      position: absolute;
      width: 100%;
      z-index: 10;
      bottom: 1.2rem;
      span{
        width: 16px;
        height: 16px;
        border: 2px solid $branco;
        background: $branco;
      }
      .active{
        span{
          background: $preto;
        }
      }
    }
  }
}