.owl-produtos-destaques{
  .owl-nav{
    position: absolute;
    width: 100%;
    top: 33%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    button[class*='owl-']{
      background: $branco!important;
      border-radius: 0!important;
      padding: 0.2rem 0.5rem!important;
      &:hover, &:focus{
        color: $preto;
      }
    }
    .owl-prev{
      left: 0;
    }
  }
}
.produto{
  border: 1px solid $branco;
  .descricao-produto{
    padding: 0.7rem;
    h4{
      font-size: 0.9rem;
      text-transform: uppercase;
    }
    .price{
      font-family: $titilium;
      font-size: 1.1rem;
      font-weight: bold;
      color: $preto;
    }
  }
}
.lista-produtos, .owl-produtos-destaques{
  .produto{
    img{
      width: 100%;
      opacity: 1;
    }
    &:hover{
      img{
        opacity: 0.85;
      }
    }
  }
  .filter-box{
    border-bottom: 1px solid $preto;
    margin-bottom: 2rem;
  }
}

// SINGLE PRODUTO
.single-product{
  .product{
    .images{
      width: calc(100% - 80px);
      float:right;
      padding-left: 10px;
      img{
        width: 100%;
      }
    }
    .product-thumbnails{
      width: 80px;
      float: left;
      .img-thumbnail{
        margin-bottom: 10px;
        border: 1px solid lighten($preto, 85%);
      }
    }
  }
  p.price{
    font-size: 3rem;
    font-family: $titilium;
    font-weight: bold;
  }
  #produto-features-view{
    background: $preto;
  }
}
