doctype
html(class="no-js", lang="pt-BR", dir="ltr")

  head
    include includes/head
    //css

  body
    div(class="off-canvas position-left", id="offCanvasLeft", data-off-canvas)
      //Menu
      include includes/off-canvas-menu

    div(class="off-canvas-content", data-off-canvas-content)
      //header
      include includes/header
      //header
      //banner
      div.banner-wrapper
        include includes/social-media
        include includes/banner-interno
      //banner
      //main
      main.main
        section.lista-produtos.section-wrapper
          include includes/lista-produtos
      //main
      //footer
      include includes/footer
      //footer
    //scripts
    include includes/foot
    //scripts
