.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
  // border-radius: 5px;
  text-transform: uppercase;
  background: $preto;
  color: $branco;
  font-weight: 400;
  border-radius: 0;
  &:hover, &:focus{
    background: $texto;
  }
}