.nav-container{
  font-size: 0.9rem;
  .main-menu{
    padding-left: 0.5rem;
  }
  .main-menu, .acc-menu{
    a{
      border-bottom: 2px solid transparent;
      margin-bottom: 0;
      padding: 0.7rem 0.5rem;
      font-weight: 600;
      &:hover, &:focus{
        background: none;
        color: $texto;
        border-bottom: 2px solid $cor;
      }
    }
    .active{
      a{
        background: none;
        color: $texto;
        border-bottom: 2px solid $cor;
      }
    }
  }
  .acc-menu{
    li{
      &:last-child, &:first-child{
        a{
          padding-bottom: 0.6rem;
          &:hover, &:focus{
            background: none;
            color: $texto;
            border-bottom: 2px solid transparent;
          }
        }
      }
    }
  }
}
.footer-menu{
  a{
    padding-left: 0;
    padding-right: 0;
  }
  .active{
    a{
      background: none;
      color: $preto;
    }
  }
}
.pagamentos-menu{
  .payment{
    margin-right: 0.3rem
  }
}
.align-menu{
  align-items: center;
}
.menu-icon{
  margin-left: 40px;
  margin-top: 10px;
  &::after{
    background: $preto;
    box-shadow: 0 7px 0 $preto, 0 14px 0 $preto;
  }
  &:hover{
    &::after {
      background: $preto;
      box-shadow: 0 7px 0 $preto, 0 14px 0 $preto;
    }
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {
  .align-menu{
    align-items: flex-end;
  }
}

.breadcrumbs{
  a{
    color: $cor;
    &:hover, &:focus{
      color: $preto;
    }
  }
}