div.grid-container.fluid.full
  div.grid-x
    div(class="owl-carousel owl-home-slides owl-theme")
      div.item
        img(src="assets/img/banner1.jpg", alt="")
      div.item
        img(src="assets/img/banner2.jpg", alt="")
    
