div.grid-container
  div.grid-x.grid-padding-x.grid-margin-x
    div.cell.small-12
      nav(aria-label="You are here:" role="navigation")
        ul(class="breadcrumbs")
          li
            a(href="index.html") Início
          li
            a(href="produtos.html") Feminino
          li
            a(href="produtos.html") Camisetas
          li #[span(class="show-for-sr") Current] Camiseta Feminina Básica
