footer.footer.section-wrapper
  div.grid-container
    div.grid-x.grid-padding-x.grid-margin-x
      div.cell.small-12.medium-6.large-4
        h4 Ajuda
        ul(class="menu footer-menu vertical uppercase")
          li
            a(href="") Início
          li
            a(href="") Faça Você mesmo
          li
            a(href="") Roupas
          li
            a(href="") Acessórios
          li
            a(href="") Dúvidas Frequentes
          li
            a(href="") Contato
          li
            a(href="") Minha Conta
          li
            a(href="") Política de Privacidade

      div.cell.small-12.medium-6.large-4
        h4 Formas de Pagamento
        ul(class="menu pagamentos-menu uppercase")
          li.payment
            i(class="fab fa-cc-visa fa-2x")
          li.payment
            i(class="fab fa-cc-mastercard fa-2x")
          li.payment
            i(class="fab fa-cc-amex fa-2x")
          li.payment
            i(class="fab fa-cc-paypal fa-2x")
          li.payment
            i(class="fab fa-cc-diners-club fa-2x")

      div.cell.small-12.medium-6.large-4
        h4 Newsletter
        ul(class="menu footer-menu vertical uppercase")
          div.input-group
            input(class="input-group-field", type="email")
            div.input-group-button
              button(type="submit", class="button")
                i(class="fas fa-paper-plane")

        h4 Mídias Sociais
          ul(class="menu social-media social-media-footer")
            li
              a(href="")
                i.fab.fa-instagram
            li
              a(href="")
                i.fab.fa-facebook
            li
              a(href="")
                i.fab.fa-pinterest
