header.header
  div.grid-container
    div.grid-x.align-menu
      div.cell.shrink.logo-bg
        img(src="assets/img/feels-logo.png", alt="")
      div.cell.auto.nav-container
        include main-menu
