div.grid-container.full.fluid
  div.grid-x
    div.cell.small-12.large-6
      a(href="", class="destaque-bg destaque-full" style="background-image: url('assets/img/destaque-full.jpg');")
        span.destaque-wall
        span.titulo-destaque
          h2 Camisetas
    div.cell.small-12.large-6
      div.grid-container.fluid.full
        div.grid-x
          div.cell.small-12
            a(href="", class="destaque-bg destaque-half" style="background-image: url('assets/img/destaque-half-1.jpg');")
              span.destaque-wall
              span.titulo-destaque
                h2 Acessórios
          div.cell.small-12
            a(href="", class="destaque-bg destaque-half" style="background-image: url('assets/img/destaque-half-2.jpg');")
              span.destaque-wall
              span.titulo-destaque
                h2 Bermudas
