nav.main-nav.clearfix
  button(class="menu-icon hide-for-medium float-right", type="button", data-open="offCanvasLeft")
  ul(class="menu main-menu float-left uppercase show-for-medium")
    li.active
      a(href="index.html") Início
    li
      a(href="produtos.html") Masculino
    li
      a(href="produtos.html") Feminino
    li
      a(href="") Faça Você mesmo
    li
      a(href="") contato

  ul(class="menu acc-menu float-right uppercase")
    li
      a(href="")
        i.fas.fa-search
    li.show-for-medium
      a(href="") Minha Conta
    li
      a(href="")
        i.fas.fa-shopping-bag

