nav.main-nav
  ul(class="menu main-menu float-left uppercase")
    li
      a(href="") Início
    li
      a(href="") Masculino
    li
      a(href="") Feminino
    li
      a(href="") Faça Você mesmo
    li
      a(href="") contato

  ul(class="menu acc-menu float-right uppercase")
    li
      a(href="")
        i.fas.fa-search
    li
      a(href="") Minha Conta
    li
      a(href="")
        i.fas.fa-shopping-bag

