nav
  ul(class="vertical menu accordion-menu off-canvas-menu", data-accordion-menu, data-submenu-toggle="true")
    li
      a(href="") Início
    li 
      a(href="") Masculino
    li
      a(href="") Feminino
    li
      a(href="") Faça Você mesmo
    li
      a(href="") contato
