div.grid-container
  div.grid-x
    div.cell.small-12
      div.product
        div.grid-container
          div.grid-x.grid-margin-x
            div.cell.small-12.large-6
              div(class="product-images images")
                img(src="assets/img/imagem-produto-1.jpg", alt="")
              div(class="product-thumbnails thumbnails")
                div(class="img-thumbnail selected")
                  img(src="assets/img/imagem-produto-1.jpg", alt="")
                div(class="img-thumbnail selected")
                  img(src="assets/img/imagem-produto-2.jpg", alt="")
                div(class="img-thumbnail selected")
                  img(src="assets/img/imagem-produto-3.jpg", alt="")

            div.cell.small-12.large-6
              h2.uppercase Camiseta Feminina Básica
              p.price R$ 89,90
              p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

