div.sidebar-content
  aside.widget.woocommerce.widget_product_categories
    h4.widget-title Categorias #[span.toggle]
    ul(class="product-categories" style="display: block;")
      li(class="cat-item cat-item-67 cat-parent closed")
        a(href="") Masculino
        span.toggle
        ul(class="children" style="display: block;")
          li(class="cat-item cat-item-111") Acessórios
          li(class="cat-item cat-item-111") Bermudas
          li(class="cat-item cat-item-111") Camisetas
      li(class="cat-item cat-item-67 cat-parent closed")
        a(href="") Feminino
        span.toggle
        ul(class="children" style="display: block;")
          li(class="cat-item cat-item-111") Acessórios
          li(class="cat-item cat-item-111") Bermudas
          li(class="cat-item cat-item-111") Camisetas


  aside(id="woocommerce_price_filter-3" class="widget woocommerce widget_price_filter yith-wcan-list-price-filter")
    h4.widget-title Preço #[span.toggle]

    form(action="")
      div(class="price_slider_wrapper")
        div(class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all", style="")
          div(class="ui-slider-range ui-widget-header ui-corner-all", style="width: 100%; left: 0%;")
          span(class="ui-slider-handle ui-state-default ui-corner-all", tabindex="0", style="left: 0%;")
          span(class="ui-slider-handle ui-state-default ui-corner-all", tabindex="0", style="left: 100%;")
        div(class="price_slider_amount")
          input(type="text", id="min_price", name="min_price", value="39", data-min="39", placeholder="Min price", style="display: none;")
          input(type="text", id="max_price", name="max_price", value="299", data-max="299", placeholder="Max price", style="display: none;")
          button(type="submit", class="button") Filtrar
          div(class="price_label") Preço:
            span(class="from") R$ 89,90
            span(class="to") R$ 109,90
