div.sidebar-content
  aside.widget.woocommerce.widget_product_categories
    h4.widget-title Categorias #[span.toggle]
    ul(class="product-categories" style="display: block;")
      li(class="cat-item cat-item-67 cat-parent closed")
        a(href="") Masculino
        span.toggle
        ul(class="children" style="display: block;")
          li(class="cat-item cat-item-111") Acessórios
          li(class="cat-item cat-item-111") Bermudas
          li(class="cat-item cat-item-111") Camisetas
      li(class="cat-item cat-item-67 cat-parent closed")
        a(href="") Feminino
        span.toggle
        ul(class="children" style="display: block;")
          li(class="cat-item cat-item-111") Acessórios
          li(class="cat-item cat-item-111") Bermudas
          li(class="cat-item cat-item-111") Camisetas
