div.grid-container.social-media-container.show-for-medium
  div.grid-x
    div.cell.small-12
      ul(class="menu social-media")
        li
          a(href="")
            i.fab.fa-instagram
        li
          a(href="")
            i.fab.fa-facebook
        li
          a(href="")
            i.fab.fa-pinterest
